@keyframes bubbles {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .bubble {
    position: absolute;
    color: white;
    font-size: 20px;
    opacity: 0.8;
    animation: bubbles 5s infinite;
  }
  